@use "../variables" as v;

.balance {
    background-color: v.$soft-red;
    color: v.$very-pale-orange;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .75rem;

    .balance_content {
        display: flex;
        flex-direction: column;

        .content_amount {
            font-weight: v.$fw-bold;
            font-size: calc(v.$fs * 1.25);
        }
    }

    .balance_logo {
        max-width: 4rem;
    }
}

@media screen and (min-width: v.$min-width) {
    .balance {
        padding-block: 1.5rem;
        padding-inline: 2rem;
        border-radius: 1rem;
        
        .balance_content {

            .content_text {
                font-size: v.$fs;
            }

            .content_amount {
                font-size: calc(v.$fs * 1.75);
            }
        }
        
        .balance_logo {
            max-width: unset;
        }
    }
}