@use "../variables" as v;

.summary {
    background-color: v.$very-pale-orange;
    padding-block: 1.25rem;
    padding-inline: 1.25rem;
    border-radius: .75rem;

    .summary_chart {

        .chart_title {
            color: v.$dark-brown;
        }

        .chart_bars {
            display: flex;
            gap: .75rem;
            justify-content: space-between;
            align-items: flex-end;
            padding-block-start: 3rem;
            margin-block-end: .5rem;

            .bar_day_container {
                position: relative;
                display: flex;
                gap: .75rem;
                flex-direction: column;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                .container_spending {
                    background-color: v.$dark-brown;
                    color: v.$very-pale-orange;
                    font-size: calc(v.$fs / 1.5);
                    font-weight: v.$fw-bold;
                    border-radius: .25rem;
                    position: absolute;
                    top: -2rem;
                    display: flex;
                    justify-content: center;
                    padding: .25rem;
                    transition: all .5s ease-in-out;
                    visibility: hidden;
                    opacity: 0;
                }

                .container_bar {
                    background-color: v.$soft-red;
                    width: 2rem;
                    border-radius: .25rem;
                }

                .container_day {
                    font-size: calc(v.$fs / 1.5);
                    color: v.$medium-brown;
                }

                #current_day {
                    background-color: v.$cyan;
                    transition: all .5s ease-in-out;
                }
            }
        }

        &::after {
            content: "";
            display: inline-block;
            width: 100%;
            border: 1px solid v.$cream;
        }
    }

    .summary_recap {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-block-start: 1rem;

        .recap_total {
            display: flex;
            flex-direction: column;

            .total_text {
                color: v.$medium-brown;
            }

            .total_amount {
                font-size: calc(v.$fs * 1.675);
                font-weight: v.$fw-bold;
                color: v.$dark-brown;
            }
        }

        .recap_last_month {
            display: flex;
            flex-direction: column;
            align-items: end;

            .last_month_difference {
                color: v.$dark-brown;
                font-weight: v.$fw-bold;
            }

            .last_month_text {
                color: v.$medium-brown;
            }
        }
    }
}

@media screen and (min-width: v.$min-width) {

    .summary {
        padding-block: 2rem;
        padding-inline: 2.5rem;
        border-radius: 1rem;

        .summary_chart {
            
            .chart_title {
                font-size: calc(v.$fs * 1.813);
            }

            .chart_bars {
                gap: 1.125rem;
                padding-block-start: 3.75rem;
                margin-block-end: .75rem;

                .bar_day_container {
                    gap: .5rem;

                    .container_spending {
                        font-size: v.$fs;
                        top: -2.75rem;
                        padding-block: .325rem;
                        padding-inline: .5rem;
                    }

                    .container_bar {
                        width: 3.125rem;
                    }

                    .container_day {
                        font-size: calc(v.$fs / 1.125);
                    }
                }
            }
        }

        .summary_recap {

            .recap_total {

                .total_text {
                    font-size: v.$fs;
                }

                .total_amount {
                    font-size: calc(v.$fs * 2.5);
                }
            }

            .recap_last_month {
                font-size: v.$fs;
            }
        }
    }
}