@use "variables" as v;

body {
    font-family: v.$ff;
    background-color: v.$cream;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sr-only {
    width: 0;
    height: 0;
    position: absolute;
    color: transparent;
}